---
---

@import "{{ site.theme }}";
header.page-header {
	padding: 1em 0;
}

h1, h2, h3 {
	color: MediumSeaGreen;
	font-weight: bold;
	border-bottom: 1px dotted green;
}

h4 {
	font-family: Consolas, monospace;
	background: MediumSeaGreen;
	color: white;
	font-weight: bold;
	border-bottom: 1px dotted green;
}

code {
	font-size: 115%;
}