---
---

@import "{{ site.theme }}";

header.page-header {
	padding: 1em 0;
}

code {
	font-size: 115% !important;
}

h1, h2, h3 {
	color: MediumSeaGreen;
	font-weight: bold;
	border-bottom: 1px dotted green;
}

h4 {
	font-size: 150% !important;
	font-weight: bold;
	border-bottom: 1px dotted gray;
}

h1.project-name,
h2.project-tagline {
	color: white;
}

