body {
	font-family: 'Roboto', sans-serif;
}

h1 {
	font-size: 1.5em;
	margin-bottom: 0.25em;
}

/*
h1::before{
	content:"";
	display: inline-block;
	background-image: url('logo.png');
	background-size: 1.5em 1.5em;
	position: relative;
	top: 0.35em;
	height: 1.5em;
	width: 1.5em;
}
*/

p {
	margin-top: 0;
	font-size: 1.15em;
}