<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
	  
  
		{% if page.title == "Suica" %}
			<a href="{{ site.github.url }}/docs/user-guide.html" class="btn">User guide</a>
			<a href="{{ site.github.url }}/docs/cheat-sheet.pdf" class="btn">Cheat sheet</a>
			<a href="{{ site.github.url }}/docs/examples.html" class="btn">Examples</a>
			<a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
		{% else %}
			<a href="{{ site.github.url }}" class="btn">Home</a>
		{% endif %}

		{% if page.tag contains "userguide" %}
			<a href="{{ site.github.url }}/docs/user-guide.html" class="btn">User guide</a>
		{% endif %}

		{% if page.tag contains "suica" %}
			<a href="{{ site.github.url }}/docs/objects.html" class="btn">Suica</a>
		{% endif %}

		{% if page.tag contains "objects" %}
			<a href="{{ site.github.url }}/docs/objects.html" class="btn">Objects</a>
		{% endif %}

		{% if page.tag contains "properties" %}
			<a href="{{ site.github.url }}/docs/properties.html" class="btn">Properties</a>
		{% endif %}

		{% if page.tag contains "drawings" %}
			<a href="{{ site.github.url }}/docs/drawings.html" class="btn">Drawings</a>
		{% endif %}

		{% if page.tag contains "events" %}
			<a href="{{ site.github.url }}/docs/events.html" class="btn">Events</a>
		{% endif %}
	  
		
<!--
	  {% if page.tag != "userguide" %}
		<a href="{{ site.github.url }}/docs/user-guide.html" class="btn">User guide</a>
	  {% endif %}
		
	  {% if page.title == "Suica" or page.tag == "userguide" %}
		<a href="{{ site.github.url }}/docs/cheat-sheet.pdf" class="btn">Cheat sheet</a>
		<a href="{{ site.github.url }}/docs/examples.html" class="btn">Examples</a>
	  {% endif %}
	  
	  
	  
	  
	  {% if page.title == "Suica" %}
		<a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
	  {% endif %}
	  
	  {% if page.tag contains "internals" %}
		<a href="{{ site.github.url }}/test/test.html" class="btn">Test</a>
	  {% endif %}
-->

<!--
!	  {% if page.title != "Suica" %}
!		<a href="{{ site.github.url }}" class="btn">Home</a>
!	  {% endif %}
	  
!	  {% if site.github.is_project_page %}
!		<a href="{{ site.github.url }}/docs/user-guide.html" class="btn">User guide</a>
!	  {% endif %}
	  
	  {% if site.github.is_project_page %}
		<a href="{{ site.github.url }}/docs/cheat-sheet.pdf" class="btn">Cheat sheet</a>
	  {% endif %}
	  
	  {% if page.title != "Suica Examples" %}
		<a href="{{ site.github.url }}/docs/examples.html" class="btn">Examples</a>
	  {% endif %}
	  
	  {% if page.title == "Suica" %}
		<a href="{{ site.github.repository_url }}" class="btn">GitHub</a>
	  {% endif %}
	  
	  {% if page.title == "Suica Internals" %}
		<a href="{{ site.github.url }}/test/test.html" class="btn">Test</a>
	  {% endif %}
-->	  
	  {% if site.show_downloads %}
		<a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
		<a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
	  {% endif %}
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}

      <footer class="site-footer">
		  <small>
			{% if site.github.is_project_page %}
			  <span class="site-footer-owner"><a href="{{ site.github.repository_url }}" style="text-transform: capitalize;">{{ site.github.repository_name }}</a> is maintained by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a>.</span>
			{% endif %}
			<span class="site-footer-credits">This page was generated by <a href="https://pages.github.com">GitHub Pages</a> in {{site.time | date: "%B, %Y"}}.</span>
		</small>
      </footer>
    </main>
  </body>
</html>
